[Unit]
Description=Run TestMachine Alerts every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=15s
Unit=netprobe-alertd.service

[Install]
WantedBy=timers.target
